.userCard {
  margin: 150px auto;
  justify-content: center;
  max-width: 300px;
  box-shadow: 2px 2px 20px 1px #ccc;
  border-radius: 0.5em;
  background-color: #fff;
  padding: 15px;
}

.head {
  font-size: 22px;
  padding: 5px;
  text-align: center;
}

.formCard {
  display: grid;
  grid-auto-flow: row;
  gap: 20px 0;
}

.form {
  display: grid;
  grid-auto-flow: row;
}

.formField {
  display: grid;
  grid-auto-flow: row;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  margin: 2px;
}

.input {
  font-size: 14px;
}

.button {
  background-color: rgb(29, 113, 141);
  border-style: none;
  color: #fff;
  border-radius: 2em;
  padding: 8px;
  font-size: 16;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(20, 88, 110);
}
