.navContainer {
  margin: 20px auto;
  justify-content: center;
  max-height: 80px;

  border: 1px solid #ccc;
  box-shadow: 2px 2px 8px 1px #c2c2c2;
  background-color: #fff;
  border-radius: 0.5rem;
}

.navContainer nav ul li {
  display: inline;
  list-style: none;
  margin: 10px;
  padding: 15px;
  color: blue;
}

.navContainer nav ul li a {
  margin: 5px;
  padding: 5px;
  color: blue;
}
