.vehicleCardContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    column-gap: 15px;
    row-gap: 20px;
}

.card {
    background-color: white;
    max-width: 350px;
    max-height: 600px;
    overflow: hidden;
    box-shadow: 2px 2px 8px 1px #c2c2c2;
    border-radius: 0.5em;
    padding: 12px;
}

h3 {
    margin-left: 5px;
}

.cardImg {
    height: 200px;
    background-position: center;
    background-size: cover;
}

.label {
    color: #555;
    font-size: small;
    font-weight: 600;
}

.value {
    font-size: medium;
    font-weight: 700;
}

.uuid {
    color: #555;
    font-size: small;
    font-weight: 200;
}

@media only screen and (max-width: 600px){
    .vehicleCardContainer {
        grid-template-columns: auto;
        justify-content: center;
    }
    .card {
        min-width: 320px;
    }
}