.acctCard {
  display: grid;
  grid-template-columns: auto;
  margin-left: 60px;
  justify-content: left;
}

.head {
  font-size: 22px;
}

.infoCard {
  overflow: hidden;
  display: grid;
  grid-template-columns: auto;
  justify-content: left;
  max-width: 270px;
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: 2px, 2px, 8px, 2px, black;
  padding: 15px;
}

.acctImg {
  height: 270px;
  background-position: center;
  background-size: cover;
  padding-bottom: 8px;
}

.label {
  color: #555;
  font-size: small;
  font-weight: 600;
}

.logOutButton {
  background-color: rgb(29, 113, 141);
  border-style: none;
  color: #fff;
  border-radius: 2em;
  padding: 8px;
  margin-top: 4px;
  font-size: 14;
}

.logOutButton:hover {
  cursor: pointer;
  background-color: rgb(20, 88, 110);
}
