.mainCard {
  margin: 40px auto;
  justify-content: center;
  max-width: 1400px;
  box-shadow: 2px 2px 20px 1px #ccc;
  border-radius: 0.5em;
  background-color: #fff;
  padding: 15px;
}

.head {
  font-size: 26px;
  padding: 0px;
  text-align: left;
}

.label {
  color: #555;
  font-size: small;
  font-weight: 600;
}
